@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,900&display=swap');

:root{
    --background-body-sun: #F6F6F6;
    --background-body-dark: #24262C;

    --background-header-sun: #FFFFFF;
    --background-header-dark: #1A1A1A;

    --color-full: #FFFFFF;
    --color-div-sun: #F5F5F5;
}

body{
    margin: 0;
    padding: 0;
    font-family: Lato;
    display: flex;
    background: var(--background-body-sun);
}

/* Header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-header-sun);
    justify-content: space-evenly;
    color: var(--color-header-dark);
    height: 100vh;
    padding: 0px 20px; 
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}

header i{
    font-size: 25pt;
}

/* Header */

/* Header .divs */
header .user{
    border-radius: 50%;
    padding: 15px;
    margin-top: 20px;
    background: var(--background-header-dark);
    color: var(--color-div-sun);
}

header .user i{
    font-size: 20pt;
}

header .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}
/* Header .divs */

/* Header .divs .divs*/
header .menu div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px 0px 10px;
    border-radius: 7px;
    transition: all 650ms ease-in-out;
    cursor: pointer;
}

header .menu .off:hover{
    background: var(--color-div-sun);
}
/* Header .divs .divs*/

/* Header .divs .divs .divs*/
header .mode div i{
    font-size: 20pt;
}

header .mode div{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 50%;
    background: var(--background-header-dark);
}

.dark-mode-body{
    background: var(--background-body-dark);
    color: var(--color-div-sun);
}

.dark-mode-header{
    background: var(--background-header-dark);
    color: var(--color-div-sun);
}

.dark-mode-header-mode, .dark-mode-header-user{
    color: var(--background-body-dark);
}

.dark-mode-header-menu-div:hover{
    background: var(--background-body-dark);;
}

.sun-on{
    display: flex;
    color: var(--background-body-dark);
}

.dark-off, .sun-off{
    display: none;
}
/* Header .divs .divs .divs*/

/* Main */

main{
    display: flex;
    padding: 0px 30px;
}

main div{
    display: flex;
    flex-direction: column;
    width: 42%;
    justify-content: center;
}

main .section h1{
    font-size: 32.8pt;
}

main .section p{
    text-align: justify;
    font-weight: 400;
    font-style: italic;
}

main .people{
    text-align: center;
}

main .people i{
    font-size: 150pt;
}

/* Button */

button{
    background: #FFFFFF;
    border: none;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border-radius: 7px;
    font-family:  Montserrat, sans-serif;
    transition: all 650ms ease-in-out;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}

/* Button */

/* Social */
main .social li{
    margin-right: 20px;
    font-size: 15pt;
}

main .social li a{
    color: var(--color-header-dark);
}

main .social{
    display: flex;
    list-style: none;
    padding: 0px;
}
